.Bubble {
  width: 800px;
}

.Norris {
  width: 300px;
  height: fit-content;
  align-self: flex-end;
}

.jokeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.text {
  position: relative;
}

.text p {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}
