.pannel {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

button {
  padding: 15px;
  background-color: #5a5a5a;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3f3e3e;
}
