name: Deploy Angular App

on:
  push:
    branches: [ main ]

jobs:
  build-angular:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node Js
        uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install

      - name: Build
        # 1. CORRECTION : Utiliser le nom du dépôt et le chemin de sortie correct.
        run: npm run build -- --base-href /AngularChuckNorris/

      - name: Deploy to Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # 2. CORRECTION : Adapter le chemin 'publish_dir' en fonction du nom du dossier de sortie.
          #    En se basant sur la convention Angular récente et vos fichiers :
          publish_dir: ./dist/norris/browser
